<h1>my profile</h1>
<p></p>
  <p class="profile">
    name: Yui Yoshikawa
  </p>
<p>
  birthday: 1994.10.25
</p>
<p>
  country of birth: Shimane Japan 
</p>
  <p>
    favorite: travel &amp; reading
  </p>


  <%= image_tag("/uploads/idea/picture/2/%E3%81%A1%E3%82%85%E3%83%BC%E3%81%A1%E3%82%83%E3%82%93%E3%81%9B%E3%82%93%E3%81%B9_%E3%81%8B%E3%81%B0%E3%82%93.png", width: 400, :style =>"float:right;") %> 

